header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua; 
}

.header-content h1 {
  /* CSS for header title */
  color: #db1f1f;
  padding: 20px;
  text-align: center;
}


.navig-item {
  margin-right: 25px;
  font-family: Arial, Helvetica
}

img {
  margin-left: 20px;
  margin-right: 75px;
  border-radius: 10%;
  width: 75px;
  height: 75px;
}

.post-content {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

